{% assign recs = site.data.recommendations %}
{% assign n_recs = recs | size %}
{% if n_recs > 0 %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {% for r in recs %}{
      "@type": "Review",
      "@id": "{{ site.url }}/about/#{{ r.id }}",
      "url": "{{ site.url }}/about/#{{ r.id }}",
      "author": {
        "@type": "Person",
        "name": {{ r.name | jsonify }},
        "url": {{ r.url | jsonify }}
      },
      "reviewBody": {{ r.text | join: " " | jsonify }},
      "datePublished": {{ r.date | jsonify }},
      "itemReviewed": { "@id": "{{ site.url }}/#person" },
      "inLanguage": "en"
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
}
</script>
{% endif %}
